@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to My lab 23. This is the 7th try and it is as imperfect as it can get.</p>
</div>
